<div class="layout-sidebar">
  <!-- <div class="layout-sidebar-backdrop"></div> -->
  <div class="layout-sidebar-body">
    <div class="custom-scrollbar">
      <nav id="sidenav" class="sidenav-collapse collapse">
        <ul class="sidenav">
          <li class="sidenav-heading">Navigation</li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/index">
              <span class="sidenav-icon icon icon-home"></span>
              <span class="sidenav-label">Dashboard</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a href="#">
              <span class="sidenav-icon icon icon-user"></span>
              <span class="sidenav-label">Sub Admin.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/services-provider-management">
              <span class="sidenav-icon icon icon-users"></span>
              <span class="sidenav-label">Geo-Location Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/user-management">
              <span class="sidenav-icon icon icon-list"></span>
              <span class="sidenav-label">User Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a href="#">
              <span class="sidenav-icon icon icon-star"></span>
              <span class="sidenav-label">Driver Mgmt.</span>
            </a>
            <!-- <ul class="sidenav-subnav collapse">
              <li><a routerLink="/home/ongoing-gig">Ongoing</a></li>
              <li><a routerLink="/home/completed-gig">Completed</a></li>
              <li><a routerLink="/home/cancelled-gig">Cancelled</a></li>
            </ul> -->
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/payment-management">
              <span class="sidenav-icon icon icon-money"></span>
              <span class="sidenav-label">Orders Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/earning-management">
              <span class="sidenav-icon icon icon-money"></span>
              <span class="sidenav-label">Vehicle Type Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/trip-management">
              <span class="sidenav-icon fa fa-bus"></span>
              <span class="sidenav-label">Category Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a href="#">
              <span class="sidenav-icon fa fa-phone"></span>
              <span class="sidenav-label">Promocode Mgmt.</span>
            </a>
            <!-- <ul class="sidenav-subnav collapse">
              <li><a routerLink="/home/users-support">Users</a></li>
              <li><a routerLink="/home/service-providers-support">Service Providers</a></li>
            </ul> -->
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/promo-code-management">
              <span class="sidenav-icon icon icon-code"></span>
              <span class="sidenav-label">Reward Points Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/review-ratings-management">
              <span class="sidenav-icon fa fa-star"></span>
              <span class="sidenav-label">Contest Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-line-chart"></span>
              <span class="sidenav-label">Earning Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-dashboard"></span>
              <span class="sidenav-label">Refund Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-shopping-cart"></span>
              <span class="sidenav-label">Payments.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-fire"></span>
              <span class="sidenav-label">Fare Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-flag"></span>
              <span class="sidenav-label">Report.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-star-half-o"></span>
              <span class="sidenav-label">Rating & Review Mgmt.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-bell"></span>
              <span class="sidenav-label">Notifications.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-life-ring"></span>
              <span class="sidenav-label">Hoot Support.</span>
            </a>
          </li>
          <li class="sidenav-item" routerLinkActive="active">
            <a routerLink="/home/report-management">
              <span class="sidenav-icon fa fa-dashboard"></span>
              <span class="sidenav-label">CMS Mgmt.</span>
            </a>
          </li>
          <!-- <li class="sidenav-item has-subnav">
            <a href="javascript:void(0)">
              <span class="sidenav-icon icon icon-cog"></span>
              <span class="sidenav-label">Setting</span>
            </a>
            <ul class="sidenav-subnav collapse">
              <li><a routerLink="/home/profile">Profile</a></li>
              <li><a routerLink="/home/changePassword">Change Password</a></li>
              <li><a routerLink="/home/login">Sign Out</a></li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>