<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="dashboardPage"></div>
<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Dashboard</span>
        <select class="btn btn-primary pull-right">
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Yearly">Yearly</option>
        </select>
      </h1>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row height-box">
          <div class="col-sm-6 col-md-6 col-lg-6 full-height">
            <div class="card">
              <div class="card-body">
                <h5>Total number of users</h5>
                <div class="row no-gutter">
                  <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9">
                    <h2>85068k</h2>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 text-right">
                    <img src="assets/img/users.png" class="wpx-40"/>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <p>Total number of users recently joined</p>
                <h4 class="m-b-0 text-primary">45879k</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 full-height">
            <div class="card">
              <div class="card-body">
                <h5>Total number of categories</h5>
                <div class="row no-gutter">
                  <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9">
                    <h2>Umrah</h2>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 text-right">
                    <img src="assets/img/mosque.png" class="wpx-40"/>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <p>Total number of Umrah done</p>
                <h4 class="m-b-0 text-primary">6068k</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 full-height">
            <div class="card">
              <div class="card-body">
                <h5>Total number of packages</h5>
                <div class="row no-gutter">
                  <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9">
                    <h2 class="d-flex m-b-0">3
                      <span class="m-l-10 m-b-0 h5">
                        <p>Traveller Insurance</p>
                        <p>Delivery Services</p>
                        <p>Medicare</p>
                      </span>
                    </h2>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 text-right">
                    <img src="assets/img/package.png" class="wpx-40"/>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <p>Total number of packages purchased</p>
                <h4 class="m-b-0 text-primary">1000k</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 full-height">
            <div class="card">
              <div class="card-body">
                <h5>Total revenue</h5>
                <div class="row no-gutter">
                  <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 text-right">
                    <img src="assets/img/line-chart.png" class="wpx-40"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>